#*
<html>
<head>
    <title>$!page_title</title>
    #parse("default/header.vm")
     <script type="text/javascript" src="${rc.contextPath}/static/javascript/jquery-3.3.1/jquery-3.3.1.min.js"></script>
</head>
<body>

<div>

    $screen_content

</div>

</body>
</html>
	*#

<html>
  <head>
        <link rel="stylesheet" type="text/css" href="$!{serverUrl.getServerUrl()}/style/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="$!{serverUrl.getServerUrl()}/style/text.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="$!{serverUrl.getServerUrl()}/style/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="$!{serverUrl.getServerUrl()}/style/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="$!{serverUrl.getServerUrl()}/style/nav.css" media="screen" />
		<!-- BEGIN: load jquery -->
        <script src="$!{serverUrl.getServerUrl()}/javascript/jquery/jquery-1.7.2.js" type="text/javascript"></script>
        <script src="$!{serverUrl.getServerUrl()}/javascript/jquery-ui-1.8.21/ui/jquery.ui.core.js" type="text/javascript" ></script>
        <script src="$!{serverUrl.getServerUrl()}/javascript/jquery-ui-1.8.21/ui/jquery.ui.widget.js" type="text/javascript"></script>
        <script src="$!{serverUrl.getServerUrl()}/javascript/jquery-ui-1.8.21/ui/jquery.ui.accordion.js" type="text/javascript"></script>
        <script src="$!{serverUrl.getServerUrl()}/javascript/setup.js" type="text/javascript"></script>

  </head>

  <body>
	 <body >
    	<div class="container_12" >
    		#parse('/contain/header.vm')
    		<div class="clear"></div>
    		#parse('/contain/left.vm')
    		<div class="grid_10" >
    			$!screen_content
    		</div>
    	</div>
    	<div class="clear"></div>
    	#parse('/contain/footer.vm')
    </body>



 <p style="margin-top:25%;margin-left:45%;font-size:40px;color:red;"></p>
  </body>
</html>
