###set($layout = '')
<script type="text/javascript">
        $(document).ready(function () {
            setupLeftMenu();
        });
</script>
<style>
 p,h,table,th,td,a{font-family:"SimSun";}

.menu li a{display: block;
    line-height: 42px;
    color: #455a69;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-family: '宋体';
    vertical-align: baseline;}
.submenu li a{font-weight: 400;
    padding-left: 45px;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
    display: block;
    color: #455a69;
    text-decoration: none;
    font-family: '宋体';
    vertical-align: baseline;}
#box-menu{border:1px solid #D1DEE4;border-radius: 5px 5px 0px 0px;}
#section-menu{border:1px solid #D1DEE4;border-radius: 5px 5px 0px 0px;}

</style>
##<div class="top" style="background-color:#F5F5F5;height:1000px;">
<div class="grid_2" style="background-color:#F5F5F5;height:1000px;">
	<div class="box sidemenu" id="box-menu">
		<div class="block" id="section-menu" style="background-color:#F5F5F5">
			<ul class="section menu" id="leftul">
				<li><a class="menuitem">个人信息</a>
					<ul class="submenu">
						<li><a href="$!{serverUrl.getServerUrl()}/user/userInfo.do?p=1.1">个人信息</a> </li>
						<li><a href="#">修改密码</a> </li>
						<li><a href="$!{serverUrl.getServerUrl()}//user/userInfo.do?p=1.2">会员管理</a> </li>
					</ul>
				</li>
				<li><a class="menuitem">环保管理</a>
					<ul class="submenu">
						<li><a href="#">环保数据查询</a> </li>
						<li><a href="#">价格审批单导入</a> </li>					</ul>
				</li>
				<li><a class="menuitem">环保分析</a>
					<ul class="submenu">
						<li><a href="#">环保数据查询</a> </li>
					</ul>
				</li>
					##if( $r_userAgent_price.tradeAccount == "10100050")
				<li><a class="menuitem" >用户管理</a>
					<ul class="submenu" >
						##<li><a href="?p=4.1">用户查询</a> </li>
						##<li><a href="?p=4.2">新增用户</a> </li>
						<li><a href="#getAppServer()//priceAccountUnits/account_units_list.htm?p=4.3">权限管理</a> </li>
					</ul>
				</li>
					##	#end
			</ul>
		</div>
	</div>
</div>

