<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
http://www.springframework.org/schema/context   
http://www.springframework.org/schema/context/spring-context-3.0.xsd   
http://www.springframework.org/schema/mvc   
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">  
  
<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->  
<context:component-scan base-package="com.hbjc.controller" /> 
 <!-- 对静态资源文件的访问,因为Spring MVC会拦截所有请求,导致jsp页面中对js和CSS的引用也被拦截,配置后可以把对资源的请求交给项目的
    默认拦截器而不是Spring MVC-->
  <mvc:annotation-driven />
 <mvc:resources mapping="/static/**/" location="/WEB-INF/static/" /> 
 
	<!--jsp视图解析器-->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	    <property name="order" value="1"/>
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	    <property name="prefix" value="/WEB-INF/view/"/>
	    <property name="suffix" value=".jsp"/>
	</bean>
	<!-- velocity环境配置 -->
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
	    <!-- velocity配置文件路径  或者直接用velocityProperties属性 -->
	    <property name="configLocation" value="classpath:velocity.properties"/>
	    <!-- velocity模板路径 -->
	    <property name="resourceLoaderPath" value="/WEB-INF/view/"/>
	</bean>
	<!-- velocity视图解析器 -->
	<bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
	    <property name="order" value="0"/>
	    <property name="contentType" value="text/html;charset=UTF-8"/>
	    <property name="cache" value="true"/>
	    <property name="suffix" value=".vm"/>
	    <property name="layoutUrl" value="layout/layout.vm"/>
	    <property name="toolboxConfigLocation" value="/WEB-INF/toolbox.xml"/>
	   	<property name="exposeSpringMacroHelpers" value="true"/>
	    <property name="requestContextAttribute" value="rc"/>
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="allowSessionOverride" value="true"/>
        <property name="allowRequestOverride" value="true"/>
	</bean>
    
</beans>  