
<html>
  <head>


  </head>

  <body>
 <p style="margin-top:25%;margin-left:45%;font-size:40px;color:red;"></p>
  </body>
</html>
<style type = "text/css">
	body  {  b
	ackground-color:#F0ECD6;
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom left;
	background-position:top;
 }
<style>
